<mat-card>
    <mat-card-title>Delete Post</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput name="title" placeholder="Title"
                [value]="post.title" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="description" placeholder="What's on your mind?"
            [value]="post.description" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deletePost()" color="warn">
        Confirm
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>
