<mat-card>
    <mat-card-title>Edit Post</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput name="title" placeholder="Title"
            [(ngModel)]="post.title">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="description" placeholder="What's on your mind?"
            [(ngModel)]="post.description">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updatePost()" color="primary">
        Confirm
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>
